<!-- <div *ngIf="book">
    <h2>{{ book.name }} details!</h2>
    <div><label>id: </label>{{ book.id }}</div>
    <div>
      <label>name: </label> <input [(ngModel)]="book.name" placeholder="name" />
    </div>
    <button (click)="goBack()">Back</button>
  </div> -->


  <div *ngIf="book">
  <h2>{{ book.name }} details!</h2>
  <div><label>id: </label>{{ book.id }}</div>
  <div>
    <label>name: </label> <input [(ngModel)]="book.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
</div>
